/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: rgb(45, 67, 85);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	user-select: none;
}

.header {
  display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 12vh;
  background-color: #679289;
	font-size: 2rem;
	font-weight: bold;
}

.leftMenu {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	left: 0;
	top: 12vh;
	bottom: 0;
	background-color: antiquewhite;
	padding: 18px;
	width: 200px;
}

#loadFile {
	border: none;
	cursor: pointer;
	width: 184px;
	height: 42px;
	background-color: rgb(177, 160, 221);
	border-radius: 4px;
}

#mediaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 640px;
  height: 480px;
  overflow: hidden;
  text-align: center;
	margin: 18px;
}

#mediaContainer img,
#mediaContainer video {
  max-width: 100%; /* Adjusted to max-width */
  max-height: 100%; /* Adjusted to max-height */
  height: auto; /* Maintain the aspect ratio */
  width: auto; /* Maintain the aspect ratio */
  object-fit: contain; /* Ensures the content is scaled properly */
}

.mediaContainerEmpty {
  border: 2px dashed #ccc;
}

.mediaContainerLoaded {
  border: 2px solid #000;
}

.dragover {
  border-color: #000;
  background-color: #eee;
}






.hidden {
	display: none;
}